<h1>LoginComponent</h1>

<!--<pre>{{$ctrl|json}}</pre>-->

<ng-form name="loginForm">
	<span>{{$ctrl.statusMessage}}</span>
	<div>
		<label for="username">Username:</label>
		<input type="text" name="username" ng-model="$ctrl.username" required>
	</div>

	<div>
		<label for="password">Password:</label>
		<input type="password" name="password" ng-model="$ctrl.password" required>
	</div>
	<button type="button" ng-click="$ctrl.login()" ng-disabled="loginForm.$invalid">Log In</button>

	<div>
		<button type="button" ng-click="$ctrl.authService.test()">Test Auth Header</button>
	</div>
</ng-form>